html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

#root {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 10px;
    border: 2px solid black;
}

.grid {
    display: grid;
    border: 2px solid red;
    overflow: auto;
}

.grid-items {
    border: 2px solid blue;
    font-size: 50px;
    text-align: center;
    border-radius: 50%;
}