@keyframes zoom-in-out {
    0% {
        scale: 0.9;
    }

    50% {
        scale: 1.1;
    }

    100% {
        scale: 0.9;
    }
}

@keyframes zoom-in-out2 {
    0% {
        transform: scale(0.9, 0.9);
    }

    50% {
        transform: scale(1.1, 1.1);
    }

    100% {
        transform: scale(0.9, 0.9);
    }
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}