form {
    display: grid;
    gap: $font-14-sm $font-14-sm;
    grid-template-areas: 'label-row label-col'
        'input-row input-col'
        'button button';
    grid-template-columns: repeat(9, 1fr);

    & * {
        border: 2px solid $dark-5;
    }

    label {

        & {
            font-size: $font-14-sm;
            font-weight: 500;
            min-height: 30px;
            padding: 5px 20px;
            border: 2px solid $light-gold;
            border-radius: 15px 10px;
        }

        &[for=rows] {
            grid-area: label-row;
            grid-column: 3/span 1;
        }

        &[for=columns] {
            grid-area: label-col;
            grid-column: 7/span 1;
        }

    }

    input {
        &[name=rows] {
            grid-area: input-row;
            grid-column: 2/span 3;
        }

        &[name=columns] {
            grid-area: input-row;
            grid-column: 6/span 3;
        }

        & {
            min-height: $font-32-4xl;
            padding-left: 10px;
            color: $light-gold;
            border-radius: 10px 15px;
            border-color: $light-gold;
            background-color: $dark-5;

            &::placeholder {
                color: $grey;

            }

            &:focus {
                border-color: $light-gold;
                outline: none;

                &:focus::placeholder {
                    color: $grey;
                }
            }

        }
    }

    button {
        grid-area: button;
        grid-column: 5/span 1;
        color: $button-text-color;
        border-radius: 50px;
        border-color: $light-gold;
        background-color: $button-bg-color;
        height: $font-32-4xl;
        font-size: $font-14-sm;
        text-align: center;
        margin-bottom: 1rem;

        &:hover {
            color: $button-bg-color;
            border: 2px solid $dark-5;
            background-color: $button-text-color;
        }
    }
}